<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.spy.memcached" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
